<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uploaded</title>
</head>
<body>
	<h1><center>DIGI-DOC</center></h1>
  <center><p>1:normal   2:a slight at edge  3:dangerous  4:very dangerous </p></center>
  <br>
  <br>
  <h3>Key Parameters</h3>
   <center><p><iframe src="static/outpu1.txt" frameborder="0" 
      width="100%"></iframe></p></center>
  <br>
  <h2><center>Chart shown</center></h2>
  <br>
  <center><img src="static/chart.png" /></center>
  <br>
  <!-- <center><img src="static/chart2.png" /></center> -->
  <br>
  <br>
  <br><br>
<center><button style="background-color: rgba(44, 62, 80, 1);"><a href="/" style="font-size:20px; text-decoration: none; color: white;">Log Out</a></button></center>
</body>
</html>